<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<h1>Editing comment</h1>

<%= render 'form' %>

<hr>

<div class="btn-group">
  <%= link_to 'Back', comments_path, class: 'btn btn-default', role: 'button' %>
  <%= link_to 'Show', goodie_comment_path(@comment.goodie, @comment), class: 'btn btn-default', role: 'button' %>
</div>
