<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<div class="table-responsive">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Comment History</h1>
    </div>

    <div class="panel-body">
      <p>This page contains a history of all the comments you ever made. Just in case you wanted to read them again.</p>
      <% if admin? %>
        <p class="text-muted">Since you are an admin, all comments will be displayed.</p>
      <% end %>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Goodie</th>
          <% if admin? %>
            <th>User</th>
          <% end %>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= link_to comment.goodie.name, comment.goodie %></td>
            <% if admin? %>
              <td><%= link_to comment.user.username, comment.user %></td>
            <% end %>
            <td><%= comment.content %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', [comment.goodie, comment], class: 'btn btn-primary', role: 'button' %>
                <%= link_to 'Edit', edit_goodie_comment_path(comment.goodie, comment), class: 'btn btn-warning', role: 'button' %>
                <%= link_to 'Destroy', [comment.goodie, comment], method: :delete, class: 'btn btn-danger', role: 'button' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
