<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<blockquote>
  <p><%= @comment.content %></p>
  <small>
    <cite><%= @comment.user.username %></cite> commenting on <%= link_to @comment.goodie.name, @comment.goodie %> at <%= localize @comment.created_at %>
  </small>
</blockquote>

<hr>

<div class="btn-group">
  <%= link_to 'Back', comments_path, class: 'btn btn-default' %>
  <% if @comment.user == current_user || admin? %>
    <%= link_to 'Edit', edit_comment_path(@comment), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', @comment, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
