<%= form_for(@user, html: { role: 'form' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p>Uh oh, something's wrong!</p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="<%= form_group_class :realname %>">
    <%= f.label :realname, 'Real Name' %>
    <%= f.text_field :realname, class: 'form-control' %>
  </div>
  <div class="<%= form_group_class :username %>">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class="<%= form_group_class :password_hash %>">
    <%= f.label :password_hash, 'Password' %>
    <%= f.password_field :password_hash, class: 'form-control' %>
  </div>
  <div class="<%= form_group_class :email %>">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email, class: 'form-control', type: 'email' %>
  </div>
  <div class="form-group">
    <%= f.label :twitter_id, 'Twitter Account (optional)' %>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <%= f.text_field :twitter_id, class: 'form-control', placeholder: 'username' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :facebook_id, 'Facebook Account (optional)' %>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.text_field :facebook_id, class: 'form-control', placeholder: 'username' %>
    </div>
  </div>

  <% if @user.new_record? %>
    <%= f.submit 'Sign Up!', class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
<% end %>
