<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<p>
  <strong>Real Name:</strong>
  <%= @user.realname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.customer_token && !@user.customer_token.blank? %>
  <p>
    <strong>Customer token:</strong>
    <%= @user.customer_token %>
  </p>
<% end %>

<% if @user.twitter_id && !@user.twitter_id.blank? %>
  <p>
    <strong>Twitter:</strong>
    <%= @user.twitter_id %>
  </p>
<% end %>

<% if @user.facebook_id && !@user.facebook_id.blank? %>
  <p>
    <strong>Facebook:</strong>
    <%= @user.facebook_id %>
  </p>
<% end %>

<% if @user.admin %>
  <p>
    <strong>This user is a website administrator.</strong>
  </p>
<% end %>

<div class="btn-group">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning' %>
  <%= link_to 'Destroy', @user, method: :delete, class: 'btn btn-danger' %>
</div>
