<%= form_for(@goodie, html: { role: 'form' }) do |f| %>
  <% if @goodie.errors.any? %>
    <div id="error_explanation">
      <p>Uh oh, something's wrong!</p>

      <ul>
      <% @goodie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <p class="text-muted">
      You can use <%= link_to 'Markdown', 'https://daringfireball.net/projects/markdown/basics' %> here.
    </p>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :price, value: format_price(f.object.price), class: 'form-control', id: 'goodie_price_box' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_url, 'Image URL' %>
    <%= f.text_field :image_url, class: 'form-control', type: 'url' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
