<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <div class="page-header">
      <h1><%= @goodie.name %></h1>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <h3 id="goodie_price">Only <%= goodie_price(@goodie) %></h3>
  </div>
</div>

<div>
  <%= image_tag goodie_image(@goodie), class: 'img-responsive' %>
</div>

<div>
  <article><%= md @goodie.description %></article>
</div>

<div>
  <%= link_to 'Order it!', new_order_path(goodie_id: @goodie), class: 'btn btn-lg btn-success', role: 'button' %>
</div>

<hr>

<h3>Comments</h3>

<div>
  <% @goodie.comments.each do |comment| %>
    <blockquote>
      <article><%= md comment.content %></article>
      <small>
        <%= link_to [@goodie, comment] do %>
          <cite><%= comment.user.username %></cite> at <%= localize comment.created_at %>
        <% end %>
      </small>
    </blockquote>
  <% end %>
</div>

<div>
  <%= link_to 'Add your own comment', new_goodie_comment_path(@goodie), class: 'btn btn-default btn-xs', role: 'button' %>
</div>

<hr>

<div class="btn-group">
  <%= link_to 'Back', goodies_path, class: 'btn btn-default' %>
  <% if admin? %>
    <%= link_to 'Edit', edit_goodie_path(@goodie), class: 'btn btn-warning', role: 'button' %>
    <%= link_to 'Destroy', @goodie, method: :delete, class: 'btn btn-danger', role: 'button' %>
  <% end %>
</div>
