<% if has_flash? %>
  <div class="<%= flash_class %>">
    <p><%= flash_notice %></p>
  </div>
<% end %>

<% if admin? %>
  <p>
    <strong>User:</strong>
    <%= link_to @order.user.username, @order.user %>
  </p>
<% end %>

<p>
  <strong>Goodie:</strong>
  <%= link_to @order.goodie.name, @order.goodie %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @order.destination %>
</p>

<p>
  <strong>Charge token:</strong>
  <%= @order.charge_token %>
</p>

<div class="btn-group">
  <% if admin? %>
    <%= link_to 'Edit', edit_order_path(@order), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', @order, method: :delete, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to 'Back', orders_path, class: 'btn btn-primary' %>
</div>
